In [3]:
import pandas as pd
import numpy as np

In [4]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\thomas\appdata\local\programs\python\python311\lib\site-packages (5.3.0)

In [5]:
import lxml

In [15]:
# gets CPI data
path = 'CPIAUCSL.csv'
df_CPI = pd.read_csv(path)

In [16]:
# gets base inflation value for end date of dataset
#BASE_YEAR = df_CPI[df_CPI['DATE'] == '2023-12-01']['CPIAUCSL']
# I'm not sure why above code isn't working, so I'm gonna do this manually
BASE_YEAR =  308.742

In [17]:
# creates a multiplier to be able to "iflation adjust" damages
df_CPI['CPI_Multiplier'] =  BASE_YEAR / df_CPI['CPIAUCSL'].astype(int)

In [18]:
df_CPI.head()

         DATE  CPIAUCSL  CPI_Multiplier
0  1947-01-01     21.48       14.702000
1  1947-02-01     21.62       14.702000
2  1947-03-01     22.00       14.033727
3  1947-04-01     22.00       14.033727
4  1947-05-01     21.95       14.702000

In [19]:
# gets CPI for housing specifically
path = 'CPIEHOUSE.csv'
df_housing = pd.read_csv(path)

In [20]:
# gets base year of 2023-12-01
# for same reason, I'll input manually
BASE_RATE = 343.991

In [21]:
# creates a multiplier to be able to "iflation adjust" damages
df_housing['Housing_Multiplier'] =  BASE_RATE / df_housing['CPIEHOUSE'].astype(int)

In [22]:
df_housing.head()

         DATE  CPIEHOUSE  Housing_Multiplier
0  1982-12-01      100.0            3.439910
1  1983-01-01      100.5            3.439910
2  1983-02-01      100.6            3.439910
3  1983-03-01      100.6            3.439910
4  1983-04-01      101.1            3.405851

In [23]:
inflation = df_housing.merge(df_CPI, on='DATE', how='left')

In [24]:
inflation.head()

         DATE  CPIEHOUSE  Housing_Multiplier  CPIAUCSL  CPI_Multiplier
0  1982-12-01      100.0            3.439910      97.7        3.182907
1  1983-01-01      100.5            3.439910      97.9        3.182907
2  1983-02-01      100.6            3.439910      98.0        3.150429
3  1983-03-01      100.6            3.439910      98.1        3.150429
4  1983-04-01      101.1            3.405851      98.8        3.150429

This is pretty neat to have.  We can make a new, condenced version of this which might take the month and year values instead of the whole date (the 1st is kind of irrelevant).  We can also only keep the multiplier rows.
With these multiplier rows, we can take any monetary damages and apply a multiplier to it.  This gets us our 'inflation adjusted' metrics.  Althought CPI takes housing into consideration, tornados are unique as they primarly destroy infrastructure, not just a basket of consumer goods.  I think it would be more accurate to calculate damages based upon this figure, but we have both options available if needed.

In [74]:
state = pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area', match='State / territory')[0]
state

               State / territory Total area          Land area           \
               State / territory      sq mi      km2     sq mi      km2
0                         Alaska     665384  1723337    570641  1477953
1                          Texas     268596   695662    261232   676587
2                     California     163695   423967    155779   403466
3                        Montana     147040   380831    145546   376962
4                     New Mexico     121590   314917    121298   314161
..                           ...        ...      ...       ...      ...
56  Minor Outlying Islands[3][a]         16       41        16       41
57                 Contiguous US    3120428  8081869   2954843  7653006
58                     50 States    3796676  9833342   3531846  9147436
59              50 States and DC    3796744  9833519   3531907  9147594
60                 United States    3805927  9857306   3535932  9158022

   Water area
        sq mi     km2      %
0       94743  245383  14.2%
1        7365   19075   2.7%
2        7916   20501   4.8%
3        1494    3869   1.0%
4         292     757   0.2%
..        ...     ...    ...
56          0       0   0.0%
57     165589  428865   5.3%
58     264834  685907   7.0%
59     264841  685926   7.0%
60     269995  699284   7.1%

[61 rows x 8 columns]

In [75]:
state_simple = pd.concat([state['State / territory'], state.xs('sq mi', axis=1, level=1)], axis=1)

In [80]:
population = pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_historical_population', match='Name')[3]
population.head()

,Name,1960,1970,1980,1990,2000,2010,2020
0,Alabama,3266740,3444165,3893888,4040587,4447100,4779736,5024279
1,Alaska,226167,300382,401851,550043,626932,710231,733391
2,American Samoa,20051,27159,32297,46773,57291,55519,49710
3,Arizona,1302161,1770900,2718215,3665228,5130632,6392017,7151502
4,Arkansas,1786272,1923295,2286435,2350725,2673400,2915918,3011524

In [56]:
state_data = pd.merge(state_simple, population, left_on='State / territory', right_on='Name', how='inner')

In [57]:
state_data.head()

,State / territory,Total area,Land area,Water area,Name,1960,1970,1980,1990,2000,2010,2020
0,Alaska,665384,570641,94743,Alaska,226167,300382,401851,550043,626932,710231,733391
1,Texas,268596,261232,7365,Texas,9579677,11196730,14229191,16986510,20851820,25145561,29145505
2,California,163695,155779,7916,California,15717204,19953134,23667902,29760021,33871648,37253956,39538223
3,Montana,147040,145546,1494,Montana,674767,694409,786690,799065,902195,989415,1084225
4,New Mexico,121590,121298,292,New Mexico,951023,1016000,1302894,1515069,1819046,2059179,2117522

In [67]:
test = state_data.drop('Name', axis=1)
test = test.rename(columns={'State / territory': 'state',
                                  'Total area': 'total_area',
                                  'Land area': 'land_area',
                                  'Water area': 'water_area'})

In [69]:
test.head()

,state,total_area,land_area,water_area,1960,1970,1980,1990,2000,2010,2020
0,Alaska,665384,570641,94743,226167,300382,401851,550043,626932,710231,733391
1,Texas,268596,261232,7365,9579677,11196730,14229191,16986510,20851820,25145561,29145505
2,California,163695,155779,7916,15717204,19953134,23667902,29760021,33871648,37253956,39538223
3,Montana,147040,145546,1494,674767,694409,786690,799065,902195,989415,1084225
4,New Mexico,121590,121298,292,951023,1016000,1302894,1515069,1819046,2059179,2117522

In [85]:
path = 'https://en.wikipedia.org/wiki/List_of_U.S._state_and_territory_abbreviations'
test = pd.read_html(path, match='Name')[0]
test.head()

                       Name Status of region                ISO  \
                       Name Status of region Unnamed: 2_level_1
0  United States of America    Federal state         US USA 840
1                   Alabama            State              US-AL
2                    Alaska            State              US-AK
3                   Arizona            State              US-AZ
4                  Arkansas            State              US-AR

                ANSI                                  USPS               USCG  \
  Unnamed: 3_level_1 Unnamed: 4_level_1 Unnamed: 5_level_1 Unnamed: 6_level_1
0                 US                0.0                NaN                NaN
1                 AL                1.0                 AL                 AL
2                 AK                2.0                 AK                 AK
3                 AZ                4.0                 AZ                 AZ
4                 AR                5.0                 AR                 AR

      GPO      AP Other abbreviations
      GPO      AP Other abbreviations
0    U.S.    U.S.              U.S.A.
1    Ala.    Ala.                 NaN
2  Alaska  Alaska              Ak.[2]
3   Ariz.   Ariz.                 NaN
4    Ark.    Ark.                 NaN

In [96]:
#test['Name']
#test.xs('Unnamed: 3_level_1', axis=1, level=1)
abv = pd.concat([test['Name'], test.xs('Unnamed: 3_level_1', axis=1, level=1)], axis=1)
abv.head()

                       Name ANSI
0  United States of America   US
1                   Alabama   AL
2                    Alaska   AK
3                   Arizona   AZ
4                  Arkansas   AR

In [97]:
pd.merge(state_simple, abv, left_on='State / territory',\
                          right_on='Name', how='inner')

,State / territory,Total area,Land area,Water area,Name,ANSI
0,Alaska,665384,570641,94743,Alaska,AK
1,Texas,268596,261232,7365,Texas,TX
2,California,163695,155779,7916,California,CA
3,Montana,147040,145546,1494,Montana,MT
4,New Mexico,121590,121298,292,New Mexico,NM
5,Arizona,113990,113594,396,Arizona,AZ
6,Nevada,110572,109781,791,Nevada,NV
7,Colorado,104094,103642,452,Colorado,CO
8,Oregon,98379,95988,2391,Oregon,OR
9,Wyoming,97813,97093,720,Wyoming,WY
10,Michigan,96714,56539,40175,Michigan,MI
11,Minnesota,86936,79627,7309,Minnesota,MN
12,Utah,84897,82170,2727,Utah,UT
13,Idaho,83569,82643,926,Idaho,ID
14,Kansas,82278,81759,520,Kansas,KS
15,Nebraska,77348,76824,524,Nebraska,NE
16,Nebraska,77348,76824,524,Nebraska,NaN
17,South Dakota,77116,75811,1305,South Dakota,SD
18,Washington,71298,66456,4842,Washington,WA
19,North Dakota,70698,69001,1698,North Dakota,ND
20,Oklahoma,69899,68595,1304,Oklahoma,OK
21,Missouri,69707,68742,965,Missouri,MO
22,Florida,65758,53625,12133,Florida,FL
23,Wisconsin,65496,54158,11339,Wisconsin,WI
24,Georgia,59425,57513,1912,Georgia,GA
25,Illinois,57914,55519,2395,Illinois,IL
26,Iowa,56273,55857,416,Iowa,IA
27,New York,54555,47126,7429,New York,NY
28,North Carolina,53819,48618,5201,North Carolina,NC
29,Arkansas,53179,52035,1143,Arkansas,AR
30,Alabama,52420,50645,1775,Alabama,AL
31,Louisiana,52378,43204,9174,Louisiana,LA
32,Mississippi,48432,46923,1509,Mississippi,MS
33,Pennsylvania,46054,44743,1312,Pennsylvania,PA
34,Ohio,44826,40861,3965,Ohio,OH
35,Virginia,42775,39490,3285,Virginia,VA
36,Tennessee,42144,41235,909,Tennessee,TN
37,Kentucky,40408,39486,921,Kentucky,KY
38,Indiana,36420,35826,593,Indiana,IN
39,Maine,35380,30843,4537,Maine,ME
40,South Carolina,32020,30061,1960,South Carolina,SC
41,West Virginia,24230,24038,192,West Virginia,WV
42,Maryland,12406,9707,2699,Maryland,MD
43,Hawaii,10932,6423,4509,Hawaii,HI
44,Massachusetts,10554,7800,2754,Massachusetts,MA
45,Vermont,9616,9217,400,Vermont,VT
46,New Hampshire,9349,8953,397,New Hampshire,NH
47,New Jersey,8723,7354,1368,New Jersey,NJ
48,Connecticut,5543,4842,701,Connecticut,CT
49,Puerto Rico,5325,3424,1901,Puerto Rico,PR
50,Delaware,2489,1949,540,Delaware,DE
51,Northern Mariana Islands,1976,182,1793,Northern Mariana Islands,MP
52,Northern Mariana Islands,1976,182,1793,Northern Mariana Islands,NaN
53,Rhode Island,1545,1034,511,Rhode Island,RI
54,U.S. Virgin Islands,733,134,599,U.S. Virgin Islands,VI
55,American Samoa,581,76,505,American Samoa,AS
56,Guam,571,210,361,Guam,GU
57,District of Columbia,68,61,7,District of Columbia,DC

I'm going to create functions that we can call

In [100]:
def create_state_data():
    # gets state area info
    state = pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_area',\
                         match='State / territory')[0]
    state_simple = pd.concat([state['State / territory'], state.xs('sq mi', axis=1, level=1)], axis=1)
    
    # gets state abbrevations
    names = pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._state_and_territory_abbreviations',\
                       match='Name')[0]
    abv = pd.concat([names['Name'], names.xs('Unnamed: 3_level_1', axis=1, level=1)], axis=1)
    
    # combines state and abbrevations
    state_info = pd.merge(state_simple, abv, left_on='State / territory',\
                          right_on='Name', how='inner')
    state_info = state_info.drop('Name', axis=1).drop_duplicates()
    
    # gets state population info
    population = pd.read_html('https://en.wikipedia.org/wiki/List_of_U.S._states_and_territories_by_historical_population',\
                              match='Name')[3]
    
    # combines info
    state_data = pd.merge(state_info, population, left_on='State / territory',\
                          right_on='Name', how='inner')
    
    # cleans up columns
    df = state_data.drop('Name', axis=1)
    df = df.rename(columns={'State / territory': 'state',
                                  'Total area': 'total_area',
                                  'Land area': 'land_area',
                                  'Water area': 'water_area'})
    return df

In [99]:
create_state_data()

,state,total_area,land_area,water_area,ANSI,1960,1970,1980,1990,2000,2010,2020
0,Alaska,665384,570641,94743,AK,226167,300382,401851,550043,626932,710231,733391
1,Texas,268596,261232,7365,TX,9579677,11196730,14229191,16986510,20851820,25145561,29145505
2,California,163695,155779,7916,CA,15717204,19953134,23667902,29760021,33871648,37253956,39538223
3,Montana,147040,145546,1494,MT,674767,694409,786690,799065,902195,989415,1084225
4,New Mexico,121590,121298,292,NM,951023,1016000,1302894,1515069,1819046,2059179,2117522
5,Arizona,113990,113594,396,AZ,1302161,1770900,2718215,3665228,5130632,6392017,7151502
6,Nevada,110572,109781,791,NV,285278,488738,800493,1201833,1998257,2700551,3104614
7,Colorado,104094,103642,452,CO,1753947,2207259,2889964,3294394,4301261,5029196,5773714
8,Oregon,98379,95988,2391,OR,1768687,2091385,2633105,2842321,3421399,3831074,4237256
9,Wyoming,97813,97093,720,WY,330066,332416,469557,453588,493782,563626,576851
10,Michigan,96714,56539,40175,MI,7823194,8875083,9262078,9295297,9938444,9883640,10077331
11,Minnesota,86936,79627,7309,MN,3413864,3804971,4075970,4375099,4919479,5303925,5706494
12,Utah,84897,82170,2727,UT,890627,1059273,1461037,1722850,2233169,2763885,3271616
13,Idaho,83569,82643,926,ID,667191,712567,943935,1006749,1293953,1567582,1839106
14,Kansas,82278,81759,520,KS,2178611,2246578,2363679,2477574,2688418,2853118,2937880
15,Nebraska,77348,76824,524,NE,1411330,1483493,1569825,1578385,1711263,1826341,1961504
16,Nebraska,77348,76824,524,NaN,1411330,1483493,1569825,1578385,1711263,1826341,1961504
17,South Dakota,77116,75811,1305,SD,680514,665507,690768,696004,754844,814180,886667
18,Washington,71298,66456,4842,WA,2853214,3409169,4132156,4866692,5894121,6724540,7705281
19,North Dakota,70698,69001,1698,ND,632446,617761,652717,638800,642200,672591,779094
20,Oklahoma,69899,68595,1304,OK,2328284,2559229,3025290,3145585,3450654,3751351,3959353
21,Missouri,69707,68742,965,MO,4319813,4676501,4916686,5117073,5595211,5988927,6154913
22,Florida,65758,53625,12133,FL,4951560,6789443,9746324,12937926,15982378,18801310,21538187
23,Wisconsin,65496,54158,11339,WI,3951777,4417731,4705767,4891769,5363675,5686986,5893718
24,Georgia,59425,57513,1912,GA,3943116,4589575,5463105,6478216,8186453,9687653,10711908
25,Illinois,57914,55519,2395,IL,10081158,11113976,11426518,11430602,12419293,12830632,12812508
26,Iowa,56273,55857,416,IA,2757537,2824376,2913808,2776755,2926324,3046355,3190369
27,New York,54555,47126,7429,NY,16782304,18236967,17558072,17990455,18976457,19378102,20201249
28,North Carolina,53819,48618,5201,NC,4556155,5082059,5881766,6628637,8049313,9535483,10439388
29,Arkansas,53179,52035,1143,AR,1786272,1923295,2286435,2350725,2673400,2915918,3011524
30,Alabama,52420,50645,1775,AL,3266740,3444165,3893888,4040587,4447100,4779736,5024279
31,Louisiana,52378,43204,9174,LA,3257022,3641306,4205900,4219973,4468976,4533372,4657757
32,Mississippi,48432,46923,1509,MS,2178141,2216912,2520638,2573216,2844658,2967297,2961279
33,Pennsylvania,46054,44743,1312,PA,11319366,11793909,11863895,11881643,12281054,12702379,13002700
34,Ohio,44826,40861,3965,OH,9706397,10652017,10797630,10847115,11353140,11536504,11799448
35,Virginia,42775,39490,3285,VA,3966949,4648494,5346818,6187358,7078515,8001024,8631393
36,Tennessee,42144,41235,909,TN,3567089,3923687,4591120,4877185,5689283,6346105,6910840
37,Kentucky,40408,39486,921,KY,3038156,3218706,3660777,3685296,4041769,4339367,4505836
38,Indiana,36420,35826,593,IN,4662498,5193669,5490224,5544159,6080485,6483802,6785528
39,Maine,35380,30843,4537,ME,969265,992048,1124660,1227928,1274923,1328361,1362359
40,South Carolina,32020,30061,1960,SC,2382594,2590516,3121820,3486703,4012012,4625364,5118425
41,West Virginia,24230,24038,192,WV,1860421,1744237,1949644,1793477,1808344,1852994,1793716
42,Maryland,12406,9707,2699,MD,3100689,3922399,4216975,4781468,5296486,5773552,6177224
43,Hawaii,10932,6423,4509,HI,632772,768561,964691,1108229,1211537,1360301,1455271
44,Massachusetts,10554,7800,2754,MA,5148578,5689170,5737037,6016425,6349097,6547629,7029917
45,Vermont,9616,9217,400,VT,389881,444330,511456,562758,608827,625741,643077
46,New Hampshire,9349,8953,397,NH,606921,737681,920610,1109252,1235786,1316470,1377529
47,New Jersey,8723,7354,1368,NJ,6066782,7168164,7364823,7730188,8414350,8791894,9288994
48,Connecticut,5543,4842,701,CT,2535234,3031709,3107576,3287116,3405565,3574097,3608298
49,Puerto Rico,5325,3424,1901,PR,2349544,2712033,3196520,3522037,3808610,3725789,3285874
50,Delaware,2489,1949,540,DE,446292,548104,594338,666168,783600,897934,989948
51,Rhode Island,1545,1034,511,RI,859488,946725,947154,1003464,1048319,1052567,1097379
52,U.S. Virgin Islands,733,134,599,VI,32099,62468,96569,101809,108612,106405,87146
53,American Samoa,581,76,505,AS,20051,27159,32297,46773,57291,55519,49710
54,Guam,571,210,361,GU,67044,84966,105979,133152,154805,159358,153836
55,District of Columbia,68,61,7,DC,763956,756510,638333,606900,572059,601723,689545