In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
df = pd.read_csv('1950-2023_all_tornadoes.csv')

This can be used for all the different cleans we do

In [32]:
# creates new column 'damage' that converts 'loss' to comparable amounts
# see documentation for more info.  Converts all rows to orginial range.
# there might still be more problems, but this is a start

df_d = df[['yr','loss']]

row_d = []
for x in range(df_d.shape[0]):
    loss = df_d['loss'][x]
    #fixes problem from 1996-2015
    if(loss == 0):
        row_d.append(None)
        continue
    elif(df_d['yr'][x] < 1996):
        row_d.append(loss)
        continue
    elif(df_d['yr'][x] >= 2016):
        loss = loss #idk why the one below isn't working but it wasn't so I made this quick fix
    elif(df_d['yr'][x] >= 1996 & df_d['yr'][x] < 2016): # could just be else but don't wanna fix what isn't broke
        loss = loss * 1000000
        
    if(loss < 50):
        row_d.append(1)
    elif(loss < 500):
        row_d.append(2)
    elif(loss < 5000):
        row_d.append(3)
    elif(loss < 50000):
        row_d.append(4)
    elif(loss < 500000):
        row_d.append(5)
    elif(loss < 5000000):
        row_d.append(6)
    elif(loss < 50000000):
        row_d.append(7)
    elif(loss < 500000000):
        row_d.append(8)
    else:
        row_d.append(9)

df = pd.read_csv('1950-2023_all_tornadoes.csv') # drop wasn't working so this is duct tape
df.insert(14,"damage", row_d)
df[['damage', 'loss']]

       damage     loss
0         4.0      4.0
1         5.0      5.0
2         5.0      5.0
3         5.0      5.0
4         4.0      4.0
...       ...      ...
71393     NaN      0.0
71394     3.0   1000.0
71395     NaN      0.0
71396     4.0  21500.0
71397     NaN      0.0

[71398 rows x 2 columns]

Figuring out what's wrong with Puerto Rico.  Documentation says some of 
Puerto Rico's STF codes are incorrect.

In [5]:
df_pr = df[['st', 'stf']]

In [13]:
# finds unique values for Puerto Rico's STF numbers
df_pr = df_pr[df_pr['st'] == 'PR']
df_pr['stf'].unique()

array([72])

No cleaning is needed. Not sure why documentation says some are incorrect.
Perhaps this was an issue that has been fixed since documention was updated?

Magnitude is shown on scale 0-5. -9 means value is unknown.
We're going to create a column 'no_mag' which will be 1 if magnitude is
unknown, and 0 if it is known.
Then we will replace all -9 entries in 'mag' with NA

In [14]:
df['mag'].unique()

array([ 1,  3,  2,  4,  0,  5, -9])

In [33]:
mag = []
for x in range(df.shape[0]):
    if (df['mag'][x] == -9):
        mag.append(1)
    else:
        mag.append(0)
    
df.insert(10,"no_mag", mag)

In [34]:
df[['mag', 'no_mag']]

       mag  no_mag
0        1       0
1        3       0
2        2       0
3        1       0
4        1       0
...    ...     ...
71393    0       0
71394    0       0
71395    0       0
71396    0       0
71397    0       0

[71398 rows x 2 columns]

In [38]:
# replaces -9 with NA
df['mag'] = df['mag'].replace(-9, None)

In [39]:
df['mag'].unique()

array([1, 3, 2, 4, 0, 5, None], dtype=object)